{% extends 'main/base-fixed.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}
{% block content %}
    <div class="wrap">
        <div class="main">
            <div class="content">
                <div class="section group">
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>
                            کی هستیم
                        </h3>
                        <img src="{% static 'images/about-img.jpg' %}" alt="">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>
                            تاریخ ما
                        </h3>
                        <div class="history-desc">
                            <div class="year"><p>1998 -</p></div>
                            <p class="history">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>2001 -</p></div>
                            <p class="history">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>2006 -</p></div>
                            <p class="history">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>2010 -</p></div>
                            <p class="history">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد</p>
                            <div class="clear"></div>
                        </div>
                        <div class="history-desc">
                            <div class="year"><p>2013 -</p></div>
                            <p class="history">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد</p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>فرصت ها</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <div class="list">
                            <ul>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                                <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a></li>
                            </ul>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد</p>
                    </div>
                </div>
                <h2>تیم ما</h2>
                <div class="section group">
                    <div class="grid_1_of_5 images_1_of_5">
                        <img src="{% static 'images/team4.jpg' %}" alt="">
                        <h3>

                            لورم ایپسوم یا طرح‌نما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است</p>
                    </div>
                    <div class="grid_1_of_5 images_1_of_5">
                        <img src="{% static 'images/team4.jpg' %}" alt="">
                        <h3>

                            لورم ایپسوم یا طرح‌نما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است</p>
                    </div>
                    <div class="grid_1_of_5 images_1_of_5">
                        <img src="{% static 'images/team4.jpg' %}" alt="">
                        <h3>

                            لورم ایپسوم یا طرح‌نما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است</p>
                    </div>
                    <div class="grid_1_of_5 images_1_of_5">
                        <img src="" alt="">
                        <h3>

                            لورم ایپسوم یا طرح‌نما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است</p>
                    </div>
                    <div class="grid_1_of_5 images_1_of_5">
                        <img src="{% static 'images/team4.jpg' %}" alt="">
                        <h3>

                            لورم ایپسوم یا طرح‌نما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است</p>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
