{% extends 'main/base-fixed.html' %}
{% load static %}
{% block title %}صفحه ی محصول{% endblock %} 
{% block content %}
<div class="wrap">
  <div class="main">
    <div class="content">
      <div class="section group">
        <div class="cont-desc span_1_of_2">
          <div class="grid images_3_of_2">
            <img src="{% static 'images/preview-img.jpg' %}" alt="" />
          </div>
          <div class="desc span_3_of_2">
            <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h2>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
            </p>
            <div class="price">
              <p>
                قيمت:
                <span>$500</span>
              </p>
            </div>
            <div class="available">
              <p>گزینه های در دسترس:</p>
              <ul>
                <li>
                  رنگ:

                  <select>
                    <option>نقره ای</option>
                    <option>سیاه و سفید</option>
                    <option>تاریک سیاه</option>
                    <option>قرمز</option>
                  </select>
                </li>
                <li>
                  حجم:
                  <select>
                    <option>بزرگ</option>
                    <option>متوسط</option>
                    <option>کوچک</option>
                    <option>بزرگ</option>
                    <option>کوچک</option>
                  </select>
                </li>
                <li>
                  کیفیت:
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="share">
              <p>محصول سهم:</p>
              <ul>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/youtube.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/facebook.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/twitter.png' %}" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="{% static 'images/linkedin.png' %}" alt=""
                  /></a>
                </li>
              </ul>
            </div>
            <div class="add-cart">
              <div class="rating">
                <p>
                  امتیاز:
                  <img src="{% static 'images/rating.png' %}" /><span>
                    [3 از 5 ستاره]
                  </span>
                </p>
              </div>
              <div class="button">
                <span><a href="#">افزودن به سبد خرید</a></span>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="product-desc">
            <h2>جزئیات محصول</h2>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
            </p>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
            </p>
          </div>
          <div class="product-tags">
            <h2>برچسب ها محصول</h2>
            <h4>برچسب ها خود را اضافه کنید:</h4>
            <div class="input-box">
              <input type="text" value="" />
            </div>
            <div class="button">
              <span><a href="#"> اضافه کردن برچسب ها </a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
